body {
	text-align: center;
}

.grid {
	background-color: black;
	border: 5px solid red;
	width: 800px;
	height: 500px;
	margin-left: 250px;
  	display: flex;
	flex-wrap: wrap;
	border-style: solid;
}


.grid div {
	width: 80px;
	height: 50px;

}

 .snake {
 	background-color: green;
 }

 .apple {
 	background-color:  purple;
 }
