body {
  background-color: #40514e;
    text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 4.625rem;
}

p {
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 1.5em;

}

h3 {
  color: #66BFBF;
  font-size: 1.5em;
  font-family: 'Merriweather', serif;
}

li {
  color: #66BFBF;
  text-decoration: none;
}

.snake-pic {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.project {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
